$color-primario1: #1c3c92;
$color-primario2: #f2477d;
$color-secundario1: #cfd0d1;
$color-secundario2: #ffc001;
$color-terciario1: #911868;
$color-terciario2: #01cfd6;
$color-terciario3: #ffd7de;
$color-primarioCertia: #9d5116;
$color-secundarioCertia: #9c732b;
$color-infoCertia: #939597;
$color-primarioSab : #233e99;
$color-secundarioSab : #0084f8;